
<section style="background-color: #f8f7f5;" 
         class="animate__animated animate__fadeIn d-flex flex-column min-vh-100">
    <div class="container">

        <div class="mains">
          
          <div class="d-flex flex-row bd-highlight mb-3">
            <div class="p-2 bd-highlight">

              <div class="dropdown">
                <a class="dropdown-toggle"
                href="#" 
                role="button"
                 data-bs-toggle="dropdown" 
                 aria-expanded="false" >
             <i class="fa-solid fa-bars fa-xl colores"></i>
         </a>
           
             <ul class="dropdown-menu">
               <li><a class="dropdown-item" href="#">Informes</a></li>
               <li><a class="dropdown-item" href="#">Liberaciones</a></li>
             </ul>
           </div>


            </div>
            <div class="p-2 bd-highlight"><h4>Tareas pendientes por gestionar</h4></div>
          </div>
          
     


              


            
            <app-op-busqueda></app-op-busqueda>
        </div>
        </div>

</section>

