<div class="modal-header text-center">
    <h5 class="textomodal"
    >Resultados de la consulta</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="cerrar()"></button>
  </div>
  <form>
  <div class="modal-body">

        <div class="marco">
        <div class="mb-3 ps-5 pe-5">
            <div class="d-flex justify-content-center">
                <table class="tabla">
                    <tr>
                        <td><strong>Generar alerta</strong></td>
                        <td class="margen"><strong>Lista</strong></td>
                    </tr>
                    <tr>
                        <td>true</td>
                        <td  class="margen">true</td>
                    </tr>
            
                </table>
            </div>

        </div>


    </div>

  </div>
  <div class="modal-footer">

    <button type="button"
            class="btn btn-primary"
            (click)="cerrar()"
           >Aceptar</button>
  </div>
  <form>