

    <footer class=" foter">

    
        <div        class="row elementos" 
                    (window:resize)="onResize($event)"
                   >
                  
                    <div class="col">
                        <a class="lista2" routerLink="/quien">Somos la empresa pionera en colombia de certificación digital y validación de identidad, que habilita y articula intercambios seguros por medio de servicios tecnología.</a>
                        <br>
                    </div>


    
        </div>
        <hr>
        <div class="row elementos">
          
            <div class="col-lg-3">
                <ul class="list-unstyled text-small">
                    <li><a class="lista2" routerLink="/quien">Terminos y condiciones de uso</a></li>
                </ul>            
            </div>
    
            <div class="col-lg-3">
                <ul class="list-unstyled text-small">
                    <li><a class="lista2" routerLink="/quien">Politicas Organizacionales</a></li>
                </ul>            
            </div>
    
    
            <div class="col-lg-3">
                <ul class="list-unstyled text-small">
                    <li><a class="lista2" routerLink="/quien">@Certicamara, 2022</a></li>
                </ul>            
            </div>

            <div class="col-lg-3">
                <ul class="list-unstyled text-small">
                    <li><a class="lista2" routerLink="/quien"> <img src="../../../../assets/icons/logo1.png"  width="200px"></a></li>
                </ul>            
            </div>
    
    
    
    
        </div>
      </footer>