.alert {
    margin: 0px;
    background-color: #f9fafb;
    border-color: #fc642d;
    color: #2d3135;
    border-width: 2px;
   // padding: 5px;
    padding-left: 1rem;
    border-radius: 20px;
    width: fit-content;
    margin: 0px auto 0 auto;
    padding: 5px 10px 5px 10px;

  //  opacity: 0.8;

    label {
        font-size: 16px;
        line-height: 18px;
        font-family: FuturaTBook;
    }
    .btn-close{
    
    margin-top: -30px !important;
    }
}
